@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Open+Sans:wght@300&display=swap'); 

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url("background.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}

nav label.logo {
	color: #C4FCFF;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
	font-family: 'Alfa Slab One', cursive;
}

span {
	color: #007980;
}

nav {
	width: 100%;
	background: linear-gradient(to top, #28F3FF, #E528FF);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	box-shadow: 0 0px 40px #28F3FF;
}

nav label a {
	color: #CDFFFC;
	padding: 7px 13px;
	border-radius: 6px;
	text-transform: uppercase;
	text-decoration: none;
	cursor: default;
}

nav label a:hover {
	background: none;
}

nav ul {
	float: right;
	margin-right: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Open Sans', sans-serif;
}

nav ul li {
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
	list-style: none;
	padding: 0px 5px;
}

nav ul li a {
	color: #CDFFFC;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 6px;
	text-transform: uppercase;
	text-decoration: none;
}

a.active, a:hover {
	background: rgba(207, 110, 231 , 0.4);
	transition: .5s;
}

.checkbtn {
	font-size: 30px;
	color: black;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

#check {
	display: none;
}

@media (max-width: 952px) {
	label.logo {
		font-size: 30px;
		padding-left: 50px;
	}
	nav ul li a {
		font-size: 16px;
	}
}

@media (max-width: 858px) {
	.checkbtn {
		display: block;
	}
	nav {
		height: 85px;
	}
	ul {
		position: fixed;
		z-index: 11;
		width: 100%;
		height: 100vh;
		background: rgba(88, 199, 255, 0.2);
		top: 80px;
		left: -150%;
		text-align: center;
		transition: all .5s;
	}
	nav ul li {
        display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a {
		font-size: 20px;
	}
	a:hover a.active {
        background: none;
		color: #0082e6;
	}
	#check:checked ~ ul {
		display: block;
		left: 0;
	}
}

.material-symbols-outlined {
	color: #007980;
	font-variation-settings:
	'FILL' 0,
	'wght' 400,
	'GRAD' 0,
	'opsz' 48
}

.hero {
    width: 100%;
    height: 100hv;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 300px;
}

.social-link {
    display: flex;
	animation: transitionIn 1s;
}

@keyframes transitionIn {
	from {
		opacity: 0;
		transform: translateY(50px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.social-link a {
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(14, 14, 14, 0.1));
    width: 100px;
    height: 100px;
    text-align: center;
    text-decoration: none;
    color: black;
    box-shadow: 0 0 10px 5px rgba(40, 243, 255, 0.5),
				0 0 20px 10px rgba(229, 40, 255, 0.5);
	text-shadow: 0 0 10px rgba(186, 252, 255, 0.5);
    margin: 0 30px;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s;
}

.social-link a .fa-brands {
    font-size: 60px;
    line-height: 100px;
    position: relative;
    z-index: 10;
    transition: color 0.5s;
}

.social-link a::after {
    content: '';
    width: 100%;
    height: 100%;
    bottom: -100px;
    left: 0;
    background: linear-gradient(to top, #28f3ff, #e528ff);
    position: absolute;
    transition: 0.5s;
}

.social-link a:hover::after {
    bottom: 0;
}

.social-link a:hover .fa-facebook {
    color: #4267B2;
}

.social-link a:hover .fa-youtube {
    color: #ff0000;
}

.social-link a:hover .fa-discord {
    color: #5865F2;
}

.social-link a:hover .fa-instagram {
	color: rgb(48, 48, 48);
    background: linear-gradient(to bottom left, #405DE6, #405DE6, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.social-link a:hover {
	transition: 0.5s;
    transform: translateY(-15px);
	animation: animate 2s linear infinite;
}

@keyframes animate {
	0% {
		box-shadow: 0 0 20px 5px rgba(40, 243, 255, 0.8),
		0 0 30px 10px rgba(229, 40, 255, 0.5);
	}
	50% {
		box-shadow: 0 0 20px 10px rgba(229, 40, 255, 0.8),
		0 0 30px 15px rgba(40, 243, 255, 0.5);
	}
	100% {
		box-shadow: 0 0 20px 5px rgba(40, 243, 255, 0.8),
		0 0 30px 10px rgba(229, 40, 255, 0.5);
	}
}

@media (max-width: 858px) {
	.hero {
		margin-top: 5px;
	}
	.social-link {
		display: block;
		animation: transitionIn 1s;
	}
	
	@keyframes transitionIn {
		from {
			opacity: 0;
			transform: translateX(-50px);
		}
		to {
			opacity: 1;
			transform: translateX(0);
		}
	}
	.social-link a {
		display: block;
		background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(14, 14, 14, 0.1));
		width: 80px;
		height: 80px;
		text-align: center;
		text-decoration: none;
		color: black;
		margin: 75px 0px;
		border-radius: 50px;
		position: relative;
		overflow: hidden;
		transition: transform 0.5s;
		animation: animate 2s linear infinite;
	}
	@keyframes animate {
		0% {
			color: #e528ff;
			box-shadow: 0 0 20px 5px rgba(229, 40, 255, 0.5);
			text-shadow: 0 0 10px rgba(229, 40, 255, 0.5);
		}
		50% {
			color: #28f3ff;
			box-shadow: 0 0 20px 7px rgba(40, 243, 255, 0.5);
			text-shadow: 0 0 10px rgba(40, 243, 255, 0.5);
		}
		100% {
			color: #e528ff;
			box-shadow: 0 0 20px 5px rgba(229, 40, 255, 0.5);
			text-shadow: 0 0 10px rgba(229, 40, 255, 0.5);
		}
	}
	.social-link a .fa-brands {
		font-size: 50px;
		line-height: 80px;
		position: relative;
		z-index: 10;
		transition: color 0.5s;
	}
	.social-link a:hover {
		box-shadow: 0 0 20px 13px rgba(229, 40, 255, 0.5),
					0 0 30px 15px rgba(40, 243, 255, 0.5);
		transition: 0.5s;
    	transform: translateY(-15px);
		animation: none;
	}
}